apiVersion: v1
kind: Secret
metadata:
  name: grafana-admin
  namespace: {{ monitoring_namespace }}
type: Opaque
stringData:
  admin-user: {{ grafana_admin_user }}
  admin-password: {{ grafana_admin_password }}
